.main_div {
  background-color: #dbdbd9;
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.div2 {
  display: flex;
  flex-wrap: wrap;
  flex: 0.7;
  // margin-left: 119px;
  width: 750px;
  height: 653px;
}

.div3 {
  display: flex;
  flex-wrap: wrap;
  flex: 0.3;
  margin-top: 20px;
  // margin-left: 926px;
  // margin-top: -633px;
  height: 633px;
  width: 403px;
}

.upper_div {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .main_div {
    display: grid;
  }
  .div2 {
    display: grid;
    margin-left: 40px;
    height: 650px;
  }
  .div3 {
    display: grid;
    margin-left: 632px;
  }
  .upper_div {
    width: 100%;
    background-color: #dbdbd9;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main_div {
    display: grid;
    width: 100%;
  }
  .upper_div {
    width: 100%;
    background-color: #dbdbd9;
  }
  .div2 {
    display: grid;
    width: 100%;
    margin: 0px;
  }
  .div3 {
    display: grid;
    margin: 0px;
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .main_div {
    display: grid;
  }
  .upper_div {
    display: grid;
    width: 100%;
    background-color: #dbdbd9;
  }
  .div2 {
    display: grid;
    margin-left: 22px;
  }
  .div3 {
    display: grid;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main_div {
    display: grid;
    width: 100%;
    background-color: #dbdbd9;
  }
  .upper_div {
    display: grid;
    width: 100%;
    background-color: #dbdbd9;
  }
  .div2 {
    display: grid;
    margin-left: 22px;
  }
  .div3 {
    width: 100%;
    display: grid;
  }
}
@media (max-width: 786px) {
  .main_div {
    width: 100%;
  }
  .upper_div {
    width: 100%;
  }
  .upper_div {
    display: grid;
    width: 100%;
    background-color: #dbdbd9;
  }
  .div2 {
    width: 100%;
    margin: 0px;
  }
  .div3 {
    width: 100%;
    margin: 0px;
  }
}
